._Input{
    border: none;
<<<<<<< HEAD
    width: 100%;
=======
    border-bottom: 1px solid gray;
    width: 90%;
>>>>>>> d6183d308e43c97b5fd9362d800326d2b5cec6ee
}

._Input input{
    box-shadow: 0px 0px 0px 0px black;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

._Input input:focus{
    outline-width: 0;
    box-shadow: 0px 0px 7px 0px black;  
}

._Input input:invalid:focus{
    box-shadow: 0px 0px 8px 0px  rgba(255, 0, 0, 0.623)
}

._Input input:valid:focus{
    box-shadow: 0px 0px 8px 0px  rgba(31, 240, 23, 0.699)
}