._Formulario{
    display: flex;
    flex-direction: column;
    width: 78%;
    margin: 0 auto;
    padding: 3%;
    box-shadow: 1px 2px 8px 0px #07131333;
    margin-top: 12%;
}

._Formulario ._Navigation{
    align-items: flex-end;
}

@media(min-width: 720px){
    ._Formulario{
        width: 40%;
    }
    
}