._Item {
    display: flex;
    padding: 2%;
    height: 10vh;
    flex-direction: column;
    width: 100%;
}

._Item span {
    font-size: 1.2em;
}

._Item>.comentario {
    text-align: right;
    margin: 1.5%;
}

._Item>.informacoes-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.ListItem {
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    height: 100%;
    display: flex;
}

.Background {
    height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    color: white;
    background-color: #663bb7;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    transition: max-height 0.5s ease;
    max-height: 1000px;
    transform-origin: top;
    overflow: hidden;
    width: 100%;
    box-shadow: 1px 1px 12px rgba(0,0,0,0.3)
}

.BouncingListItem {
    transition: transform 0.5s ease-out;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    background-color: #fff;
    height: 100%;
    display: flex;
}

.wrapper {
    width: 75%;
    margin: 5% auto;

}

.Background{
    opacity: 0;
}

@media (min-width: 800px) {
    ._Item {
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.3);
        width: 50%;
        margin: 5% auto;
    }
}