._Item{
    display: flex;
    padding: 2%;
    height: 10vh;
    flex-direction: column;
}

._Item span{
    font-size: 1.2em;
}

._Item > .comentario{
    text-align: right;
    margin: 2em 0;
}

._Item > .informacoes-item{
    display: flex;  
    justify-content: space-between;
}
