._Navigation a{
    display: flex;
    width: fit-content;
    align-items: center;
}

._Navigation img{
    margin-right: 2%; 
}

._Navigation{
    display: flex;
}


a{
    color: #000;
    text-decoration: none;
}