* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
#root>div {
  height: 100%;
  color: rgba(0, 0, 0, .81);
  overflow-x: hidden;
}

input,
textarea {
  box-shadow: 0px 0px 0px 0px;
  -webkit-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

input {
  border-bottom: 1px solid rgba(40, 40, 40, 0.76) !important;
  padding: 1%;
}

input:focus,
textarea:focus {
  outline-width: 0;
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.3);
}

a {
  color: red !important;
}